<h1>Pacientes</h1>

<div class="patient-card" *ngFor="let patient of patients">
  <div class="card-content">
    <div class="card-banner" [ngClass]="{'banner-accent': patient.sex === 'F'}">
      <div class="inscription">
        <p class="accent-subtitle">Fecha de inscripción</p>
        <p class="accent-date" > {{patient.inscription_date | date:"dd MMM"}} </p>
        <p class="accent-year" > {{patient.inscription_date | date:"YYYY"}} </p>
      </div>
      <div class="hospital">
        <p class="accent-subtitle" >Lugar de origen</p>
        <p class="accent-info" >
          {{patient.hospital_name}}
          <mat-icon class="hospital-icon" aria-hidden="false" aria-label="guardian icon">apartment</mat-icon>
        </p>
        <p class="accent-info">
          {{patient.hospital_city}}
          <mat-icon class="hospital-icon" aria-hidden="false" aria-label="guardian icon">place</mat-icon>
        </p>
      </div>
    </div>
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{patient.names}}</mat-card-title>
        <mat-card-subtitle>{{patient.last_name}} {{patient.second_last_name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="personal-info">
          <p>  {{patient.birthday | date:'dd MMMM, YYYY'}}
            <span> ({{patient.age}} años) </span>
          </p>
          <p> {{patient.sex==='M'? 'Hombre' :'Mujer' }} </p>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <p class="guardian-subtitle">Tutor</p>
        <p class="guardian-info">
          <mat-icon class="guardian-icon" aria-hidden="false" aria-label="guardian icon">person</mat-icon>
          {{patient.guardian_name}}
        </p>
        <p class="guardian-info">
          <mat-icon class="guardian-icon" aria-hidden="false" aria-label="guardian icon">phone</mat-icon>

          {{patient.guardian_phone}} </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [color]="patient.sex=== 'M'? 'primary':'accent'">EDITAR</button>
        <button mat-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




