.mat-toolbar{
  margin-bottom: 15px;
}

.spacer{
  flex: 1 1 auto;
}

.accions{
  margin-bottom: 15px;
  margin-left: 5px;
}

.export-button{
  margin-left: 10px;
}

.patient-card {
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accions, .card-content{
  display: flex;
}

.card-banner{
  width: 150px;
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
}

.banner-accent{
  background-color: var(--accent);
  color: var(--on-accent);
}

.accent-date, .accent-year, .accent-info{
  color: var(--primary-text);
}

.hospital, .inscription{
  margin-right: 10px;
}

.inscription{
  margin-top: 10px;
}

.accent-date, .accent-year, .guardian-subtitle{
  font-weight: 300;
}

.accent-date{
  font-size: 32px;
  text-transform: capitalize;
}

.mat-card{
  width: 225px;
  border-radius: 0;
  box-shadow: none;
}

.personal-info{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.guardian-subtitle{
  margin-top: 15px;
  font-size: 16px;
}

.guardian-info, .accent-info{
  display: flex;
  align-items: center;
}

.accent-info{
  justify-content: right;
}

.guardian-info{
  color: var(--secondary-text);
}

.guardian-icon, .hospital-icon{
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.guardian-icon{
  margin-right: 5px;
}

.hospital-icon{
  margin-left: 5px;
}

.mat-card-actions{
  display: flex;
  justify-content: end;
}

.mat-table{
  margin: 0 auto;
}

.mat-header-cell, .mat-cell{

  text-align: center;
  padding: 0 5px;
}

@media (max-width: 575px) {

  .card-content{
    flex-direction: column;
  }

  .card-banner, .card-content{
    width: 100%;
  }

}
